.krvna-grupa {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding-top: 120px;
    border-top: 3.5px solid #E42313;
}

.krvna-grupa img {
    margin-top: 2%;
    margin-left: -38px;
}

.title-blood-type-grupa {
    color: #E42313;
    font-weight: bold;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 35px;
    text-align: center;
    margin-top: 8px;

}

.blood-type-right {
    width: 50%;
    height: 633px;
    border-top: 1.5px solid lightgray;
    border-left: 1.5px solid lightgray;
}

.left { 
    width: 50%;
    float: left;
}

.blood-type-right p {
    padding:9px;
    font-size: 0.950rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: 0.01071em;
}

.blood-type-right h1 {
    padding: 9px;
    letter-spacing: 0.01071em;
}